<tr>

  <td>
    <%= submitted_answer.answerer.username %>
  </td> 

  <td>
    <%= submitted_answer.body %>
  </td>

  <td>
    <%= link_to "Mark as correct", "this link does not work" %>
  </td>
</tr>
