<div class="block">
    <div class="content">
        <h2 class="title"><%= @question.body %></h2>
        <div class="inner">
            <table class="table" id="submitted_answers_table" border="1">
                <tr>
                    <th class="first">Username</th>
                    <th>Response</th>
                    <th>Correct?</th>
                </tr>
                <% @question.submitted_answers.each do |submitted_answer| %>
                  <%= render :partial => 'submitted_answer', :locals => {:submitted_answer => submitted_answer} %>
                <% end %>

            </table>
        </div>
    </div>
</div>
