<% if current_user %>
  <a href="/users/sign_out" class="logout">
    <%= t("web-app-theme.logout", :default => "Logout") %>
  </a>
<% else %>
  <a href="/users/sign_in" class="logout">
    <%= t("web-app-theme.logout", :default => "Sign in") %>
  </a>
<% end %>
